body
{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#grille
{
    display: grid;
}

.sol
{
    background-image: url("../image/sol.gif");
}

.pacman
{
    background-image: url("../image/pacman4.gif");
    z-index: 1;
}

.mur
{
    background-image: url("../image/mur.gif");
}

.bonbon
{
    background-image: url("../image/bonbon.gif");
}

.fantomeBleu {
    background-image: url("../image/fantome0.gif");
    background-color: black;
}
.fantome_Rouge {
    background-image: url("../image/fantome2.gif");
    background-color: black;
}
.fantome_Jaune {
    background-image: url("../image/fantome1.gif");
    background-color: black;
}
.fantome_Vert {
    background-image: url("../image/fantome3.gif");
    background-color: black;
}









