body
{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#grille
{
    display: grid;
}

.sol
{
    background-image: url("../image/sol.gif");
}

.pacman
{
    background-image: url("../image/pacman4.gif");
}

.mur
{
    background-image: url("../image/mur.gif");
}

.bonbon
{
    background-image: url("../image/bonbon.gif");
}











